#pragma once
#define MTOS_WIFI_SSID "layout-wifi"
#define MTOS_WIFI_PASSWORD "replace-outside-git"
#define MTOS_MQTT_HOST "192.168.0.10"
#define MTOS_MQTT_PORT 1883
#define MTOS_MQTT_USERNAME "N001"
#define MTOS_MQTT_PASSWORD "replace-outside-git"
